.contactTextDiv {
    position: relative;
    display: flex;
    justify-content: center;
    top: 130px;
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    text-align: center;
}

.h1 {
    font-size: 240%;
}

.allContactSection {
    margin-top: 150px;
    text-align: center;
}

.phoneSection, .mailSection, .mapSection, .webSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    border-bottom: 1px solid black;
    width: 500px;
    margin: 50 auto;
}

.mail {
    transform: translate(-0.5px, -2px);
}

.map {
    transform: translate(-6px, 0);
}

.webSection {
    border-bottom: unset;
}
.web {
    transform: translate(-7px, 0);
}

.imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 50px;
}

@media (min-height: 909px) {
    .contactTextDiv {
        top: 150px;
    }
    .h1 {
        font-size: 280%;
    }
    .allContactSection {
        margin-top: 210px;
    }
}

@media (min-height: 968px) {
    .allContactSection {
        min-height: 70vh;
    }
}

@media(max-width: 586px) {
    .phoneSection, .mailSection, .mapSection, .webSection {
        width: 100%;
    }
}

@media (max-width: 310px) {
    .allContactSection {
        font-size: 80%;
    }

    .imageDiv {
        width: 40px; 
        height: 40px;
    }

    .phone {
        transform: scale(0.7);
    }

    .mail {
        transform: scale(0.7) translate(-2px, -2px);
    }

    .map {
        transform: scale(0.7) translate(-7px, 0);
    }

    .web {
        transform: scale(0.7) translate(-8px, 1px);
    }

}